@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/** Poppins Font **/


/** gobal layout */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #5344db;
    --accent-color: #5344db;
    --grey: #484848;
    --bg-grey: #ffff;
    --shadow: #949494;
}

.container-main-div {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
}

.row-div {
    display: flex;
    gap: 20px;
}

.col-6-div {
    width: 50%;
}

.single-product {
    width: 1080px;
    position: relative;
}

/** Breadcrumb **/


/** product image **/

.single-product .product-image {
    width: 100%;
    border-radius: 16px;

}

.product-image .product-image-main {
    position: relative;
    display: block;
    height: 520px;
    position: relative;
  
    border-radius: 16px;
}

.product-image-main img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: #fafbfc;
    border-radius: 10px;
    color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.product-image-slider {
    display: flex;
    gap: 20px;
    position: absolute;


    top: -8px;
    left: -120px;
    flex-direction: column;
    margin: 10px 0;
}

.product-image-slider img {
    width: 100px;
    border-radius: 5px !important;
     height: 115px;
    object-fit: contain;
    background: #fafbfc;
    padding: 4px;  
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}

.product-image-slider :hover {
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/** product title **/

/** divider **/
.divider {
    display: block;
    height: 1px;
    width: 100%;
    background: #48484830;
    margin: 20px 0;
}

/** product Button Group **/


/** Responsive Mobile **/
@media screen and (max-width:520px) {
    .container {
        padding: 20px;
        height: auto;
    }

    .row {
        display: block;
    }

    .col-6 {
        width: 100%;
        display: block;
    }

    .single-product {
        width: 100%;
        position: relative;
    }

    .product-image .product-image-main {
        width: 100%;
        height: 280px;
    }

    .product-image-slider {
        gap: 5px;
    }

    .breadcrumb {
        display: none;
    }

    .product-title h2 {
        font-size: 24px;
        line-height: 1.6rem;
    }

    .product-size {
        display: block;
    }

    .product-size .size-layout {
        display: block;
        margin: 10px 0;

    }

    .product-size .size-layout .size {
        padding: 6px 10px;
    }

    .product-btn-group {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

/** Responsive Tablet **/
@media (min-width: 520px) and (max-width: 1080px) {
    .container {
        display: block;
        height: auto;
        padding: 20px;
    }

}

















/* .................  sidebar..................  */







/*! CSS Used from: Embedded */
:focus:not([data-focusvisible-polyfill]) {
    outline: none;
}

/*! CSS Used from: Embedded */
* {
    box-sizing: border-box;
}

a,
a:link,
a:visited {
    text-decoration: none;
}

div,
span,
a,
i {
    margin: 0px;
    padding: 0px;
    border: 0px;
    vertical-align: baseline;
    font-weight: inherit;
    font-size: inherit;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
}

a {
    text-decoration: none;
}

body * {
    -webkit-tap-highlight-color: transparent;
    font-family: "Open Sans";
}

* {
    box-sizing: border-box;
}

a,
a:link,
a:visited {
    text-decoration: none;
}

div,
span,
a,
i {
    margin: 0px;
    padding: 0px;
    border: 0px;
    vertical-align: baseline;
    font-weight: inherit;
    font-size: inherit;
}

* {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

a,
a:link {
    text-decoration: none;
}

i {
    display: inline-block;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
}

a,
a:link {
    text-decoration: none;
}

a,
div,
span {
    outline: 0px;
}

div {
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
}

* {
    box-sizing: border-box;
}

b,
div,
i,
span {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 99%;
    vertical-align: baseline;
    background: transparent;
    line-height: normal;
    outline: 0px;
}

a {
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.generic__listNone {
    list-style-type: none;
}

.generic__listNone {
    list-style-type: none;
}

.pd__iconPd {
    background-image: url("https://static.99acres.com/images/pd_widgets/PD_iconsprite-v3.7.png");
    background-size: 318px 318px;
}

[data-iswebp="true"] .pd__iconPd {
    background-image: url("https://static.99acres.com/universalapp/img/PD_iconsprite-v3.7.webp");
}

i.pd__iconPd {
    width: 24px;
    height: 24px;
}

.pd__iconPd {
    background-image: url("https://static.99acres.com/images/pd_widgets/PD_iconsprite-v3.7.png");
    background-size: 318px 318px;
}

[data-iswebp="true"] .pd__iconPd {
    background-image: url("https://static.99acres.com/universalapp/img/PD_iconsprite-v3.7.webp");
}

i.pd__iconPd {
    width: 24px;
    height: 24px;
}

i {
    display: inline-block;
    font-style: normal;
}

.component__unitDropdown {
    cursor: pointer;
    position: relative;
}

.component__unitDropdown span {
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px !important;
}

.component__unitDropdown i.component__blueArrow {
    height: 7px;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 0px 0px 3px;
    width: 13px;
    background-position: -214px -112px;
}

.component__factTable {
    display: block;
}

* {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

a,
a:link {
    text-decoration: none;
}

i {
    display: inline-block;
}

.generic__listNone {
    list-style-type: none;
}

td {
    font-size: 11px;
}

.pd__iconPd {
    background-repeat: no-repeat;
}

.pd__iconPd {
    background-image: url("https://static.99acres.com/universalapp/img/PD_iconsprite-v3.7.png");
    background-size: 318px 318px;
}

[data-iswebp="true"] .pd__iconPd {
    background-image: url("https://static.99acres.com/universalapp/img/PD_iconsprite-v3.7.webp");
}

i.pd__iconPd {
    width: 24px;
    height: 24px;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

a,
div,
i,
span {
    outline: 0px;
}

* {
    border-radius: 0px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

.component__unitDropdown {
    cursor: pointer;
    position: relative;
}

.component__unitDropdown span {
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px !important;
}

.component__unitDropdown i.component__blueArrow {
    height: 7px;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 0px 0px 3px;
    width: 13px;
    background-position: -214px -112px;
}

.component__factTable td {
    vertical-align: top;
    height: auto !important;
}

.component__factTable td .component__tableHead {
    font-weight: 400;
}

.component__factTable td .component__details {
    color: rgb(51, 51, 51);
}

.component__factTable td .component__details,
.component__factTable td .component__details b {
    font-weight: 600;
}

.component__areaIcon {
    background-position: -26px -130px;
}

.component__configIcon {
    background-position: -130px 0px;
}

.component__priceIcon {
    background-position: -104px 0px;
}

.component__addressIcon {
    background-position: -26px -157px;
}

.component__floorIcon {
    background-position: -27px -182px;
}

.component__directionIcon {
    background-position: 0px -182px;
}

.component__factTable {
    display: block;
}

.component__factTable td {
    width: 49.75%;
    padding: 17px 10px 16px;
    background-color: rgb(250, 251, 252);
    display: inline-block;
    margin-bottom: 2px;
}

.component__factTable {
    position: absolute;
    border-radius: 16px !important;
    background: #fafbfc;
    padding: 20px 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 520px;
    width: 56%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.component__factTable td i {
    margin-bottom: -4px;
    margin-right: 6px;
}

.component__factTable td a {
    color: rgb(52, 152, 219);
    font-size: 12px;
    font-weight: normal;
}

.component__factTable td .component__tableHead {
    font-size: 14px;
    color: rgb(153, 153, 153);
    display: flex;
    align-items: center;
}

.component__factTable td .component__details {
    position: relative;
    margin-top: 2px;
    font-size: 14px;
    line-height: 20px;
    min-height: 22px;
    min-width: 300px;
}

.component__factTable td .component__details a.component__unit {
    position: absolute;
    top: 0px;
    margin-left: 5px;
    margin-top: -1px;
}

body * {
    -webkit-tap-highlight-color: transparent;
    font-family: "Open Sans";
}

* {
    box-sizing: border-box;
}

a,
a:link,
a:visited {
    text-decoration: none;
}

div,
span,
a,
b,
i,
table,
tbody,
tr,
td {
    margin: 0px;
    padding: 0px;
    border: 0px;
    vertical-align: baseline;
    font-weight: inherit;
    font-size: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}
